body {
  font-weight: 600;
}

.bg-light {
  background: #f6f5fa !important;
}

.d-flex {
  flex-wrap: wrap !important;
}

.product-img {
  width: 100px;
}

.quantity {
  width: 50px;
  height: 50px;
  font-weight: 500;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  line-height: 0;
}

.remove {
  font-size: 25px;
}
